{% extends "general/layout.html" %}
{#  extends "news/layout.html --> в собственный layout #}

{% block content %}
<div class="container">
    <div style="padding:20px">
        <h3>
            {{data | length }} -- Кол-во новостей
        </h3>
        <h2>
            {{rows }} -- {{cols}} -- Кол-во строк и колонок
        </h2>
    </div>

    <div style="background-color: #f4f6fb;">
        {% for row_idx in range(rows) %}
        <div class="columns" style="border:1px solid #dedede">
            {% for col_idx in range(row_idx * cols,
            row_idx * cols + cols if row_idx < data | length // cols else data | length ) %}
             <div class="column is-one-third">
                {{row_idx}}--{{col_idx}}
                {{ data[col_idx]['summary_detail']['value'] | safe}}
        </div>
        {% endfor %}
    </div>
    {%endfor%}

    



    <!-- <div
        class="columns">

        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <header class="card-header">
                        <p class="title">
                            Card header
                        </p>
                    </header>
                    <div class="content">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida
                        at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus.
                        Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>
        </div>


        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <header class="card-header">
                        <p class="title">
                            Card header
                        </p>
                    </header>
                    <div class="content">
                        Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta
                        gravida
                        at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus.
                        Cras mattis consectetur purus sit amet fermentum.
                    </div>
                </div>
            </div>
        </div>
</div>
-->

</div>

{% endblock%}