{% macro nav_link(endpoint,name) %}

{% if request.endpoint.endswith(endpoint) %}
<a class="active navbar-item" href="{{url_for(endpoint)}}">{{name}}</a>
{% else %}
<a class="navbar-item" href="{{url_for(endpoint)}}">{{name}}</a>
{% endif %}

{% endmacro %}
