{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div>{{data | length}}</div>
  <div>{{cols}}</div>
  <div>{{rows}}</div>

  {%for r in range(rows)%}
  <div class="columns" >
    {%for c in range(data | length)[r * cols : r * cols + cols] %}
    <div class="column is-one-third">
      {{r}}
      {{c}}

      
      <div class="card">
        <div class="card-content">
          <header class="card-header">
            <p class="title">
              {{data[c]['title_detail']['value']}}.
            </p>
          </header>

          <div class="content">
            {{data[c]['summary_detail']['value']}}.
          </div>
        </div>
      </div>
  </div>
  {% endfor %}

</div>
{% endfor %}



{% endblock %}