{% extends "general/layout.html" %}

{% block content %}

<div style="margin: 30px">
  <div id="tbl" style="margin: 30px">
  </div>

  <button id="show_btn">Show JSON</button>
</div>

<hr style="background-color: #68b831;">

<div style="margin: 30px">

  <table id="people">
    <tr>
      <td>
        <input type="text" name="id" value="5">
      </td>
      <td>
        <input type="text" name="fam" value="Иванов">
      </td>
      <td>
        <input type="checkbox" name="check" id ="check" checked >
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="id" value="6">
      </td>
      <td>
        <input type="text" name="fam" value="Петров">
      </td>
    </tr>
  </table>
  <button id="create_btn">Create JSON</button>
  <div id="js_result">
    Результат:
  </div>
</div>

<script>
  $(function () {

    $("#show_btn").click(function () {
      var ttt = [
        { id: 1, name: 'Иванов', age: 22 },
        { id: 2, name: 'Петров', age: 23 },
        { id: 3, name: 'Сидоров', age: 21 }
      ];

      $.ajax({
        url: '{{url_for("blog.jscheck")}}',
        type: 'post',
        data: JSON.stringify({ arr: ttt }),

        success: function (res) {
          if (res['result']) {
            console.log("rres", res)
            var tbl = '<table class="table is-bordered">'
            //Рендеринг json-результата
            $.each(res['result'], function (k, v) {
              console.log(k, v)
              // tbl += '<tr><td>' + v.id + '</td><td>' + v.name + '</td></tr>';
              tbl += `<tr><td>${v.id}</td><td>${v.name}</td><td>${v.age}</td></tr>`
            })
            tbl += "</table>"
            $('#tbl').append(tbl);
            //window.location.replace("{{url_for('blog.index')}}"); <- redirect
          }
        }
      });
    });

    $("#create_btn").click(function () {
      arr = []
      $.each($("#people tr"), function () { //<- все строки в таблице
        var $row = $(this), rowObj = {}; //2 переменные
        console.log($row)

        $.each($("td", $row), function () { //<- все td в строке
          var inp = $(this).children("input"); // в td только 1 доч-й эл-т - input

        console.log(inp, $(inp).prop('name'), $(inp).prop('value'))
        console.log($('#check').prop('checked'))

        rowObj[$(inp).prop('name')] = $(inp).prop('value') //строим JSON => {id:5, name:'Иванов' }
        console.log('rowObj', rowObj)
        })
        arr.push(rowObj)
        //console.log(arr)

        jsn = JSON.stringify({ people: arr })
        //console.log(jsn)

      })
      $("#js_result p").empty()
      $("#js_result").append('<p>' + jsn + '</p>')

    })
  })

</script>
{% endblock %}