{% extends 'general/layout.html' %}

{% block content %}
<h1>{% block title %}Posts{% endblock %}</h1>

<form action ={{url_for('blog.checkblogs')}} method="POST">
<div class="table-container">
    <table class="table">

        {% for post in posts %}
        <tr>
            <td>
                <div>{{ post['title'] }}</div>
            </td>
            <td>
                <div>{{ post['created'].strftime('%Y-%m-%d') }}</div>
            </td>
            <td>
                <input type="checkbox" name="check" {{'checked' if post.isDel else " " }} value={{post.id}} />
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Сохранить" class="button is-link ">
</div>
</form>

{% endblock %}