{% extends 'general/layout.html' %}

  {#<h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
 <p>3476376</p>
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
 {% endif %}#}

{% block content %}

    <h1>{% block title %}Posts{% endblock %}</h1>
    {% if g.user %}
      <a class="tag is-link"href="{{ url_for('blog.create') }}">Создать новый блог</a>
   {% endif %}

  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="tag is-link"  href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
        
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}