{% extends 'general/layout.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form> -->


<form method="post" style="width:560px; margin: 10px auto;">

  <input type="checkbox" id="needDelete" name="needDelete" />
  <label for="checkbox">Удалить</label>

  <div class="field">
    <label class="subtitle is-small">Заголовок</label>
    <div class="control">
      <input class="input" name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required
        placeholder="Введите заголовок">
    </div>
  </div>


  <div class="field">
    <label for="body" class="subtitle is-small">Текст</label>
    <div class="control">
      <textarea name="body" id="body
          {{ request.form['body']  or post['body']}} 
          class= " textarea" style="border:1px solid #dedede; width:100%; max-width: 560px;"
        placeholder="Введите текст" rows="10">
          </textarea>
    </div>
  </div>
  <input type="submit" value="Сохранить" class="button is-link ">
  <input type="reset" value="Очистить" class="button is-link is-light">

</form>



{% endblock %}