{% extends "general/layout.html" %}

{% block content %}
<div class="container">
  <div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  {% endif %}
  {% endwith %}
  </div>

    <form style="width:300px; margin: 50px auto" action={{url_for('auth.register')}} method="POST">
      
      <div class="field">
        <label class="label">Логин</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" type="text" name="username" placeholder="Имя пользователя" value="">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <p class="help is-success">Укажите имя пользователя</p>
      </div>
      
      <div class="field">
        <label class="label">Пароль</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-danger" type="password" name='password' placeholder="Пароль" value="">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>

      </div>
      
     
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link">Выполнить</button>
        </div>
        <div class="control">
          <button type="reset" class="button is-link is-light">Cancel</button>
        </div>
      </div>
    </form>
</div>
{%endblock%}