{% extends "layout.html" %}

{% block content %}
<form action={{url_for('auth.wtregister')}} method="POST">
    
    {{ form.csrf_token }}

    {{ form.name.label(class_="label") }}

    <div class="field">
      <div class="control has-icons-left has-icons-right">
        {{ form.name()}}
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
           <i class="fas fa-check"></i>
        </span>
      </div>
    </div>


    {{ form.password.label(class_="label") }}
    <div class="field">
        <div class="control has-icons-left has-icons-right">
          {{ form.password()}}
          <span class="icon is-small is-left">
            <i class="fas fa-lock""></i>
          </span>
          <span class="icon is-small is-right">
             <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>
     

      {% if form.password.errors %}
           <ul class="errors">
              {% for error in form.password.errors %}
                 <li>{{ error }}</li>
               {% endfor %}
            </ul>
      {% endif %}


      {{ form.confirm.label(class_="label") }}
      <div class="field">
          <div class="control has-icons-left has-icons-right">
            {{ form.confirm()}}
            <span class="icon is-small is-left">
              <i class="fas fa-lock""></i>
            </span>
            <span class="icon is-small is-right">
               <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>
        </div>


    <input type="submit" class="button is-link" value="Run">

</form>
{%endblock%}