{% extends "general/layout.html" %}

{% block content %}
<table class="table">
    <tbody>
        {%for file in files%}
        <tr>
            <td>
                <a href="{{ url_for('general.download', filename=file )}}">Загрузить {{file}}</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>

    <tfoot>
        <tr>
            <th>
                <a href="{{ url_for('general.downfiles') }}">Загрузить все файлы</a>
            </th>
        </tr>
    </tfoot>
</table>


{%endblock%}