{% extends "general/layout.html" %}

{% block content %}
    <h1>GENERAL</h1>
    <h2>Home Page</h2>
    <button id="hide">Скрыть</button>
    <button id="show">Показать</button>
    <button id="toggle">Переключить</button>
    <button id="1">animate</button>
    <p>
        <img id="timg" src= {{ url_for("static", filename='/scripts/one.svg')}} style="width:100px;border:1px solid blue; position:relative">
    </p>

    <p style="margin-top:30px">
        
        <label>
            Укажите язык прогр-я
            <input id="inp" name="inp" type="text" value="" placeholder="любой текст" >
        </label>
        <button id="btn">Получить данные</button>
        <p id="res"></p>
    </p>

    <script>
        $(function() {
          $('#timg').bind('click', function() {
           alert('!!! ' + $('h2').text())
        });
        $('#hide').mouseenter(function(){
            $('#timg').hide() 
        });
        $('#show').click(function(){
            $('#timg').show() 
        });
        $('#toggle').click(function(){
            $('#timg').toggle()
        });
        
        $('#1').click(function(){
        $('#timg').animate({left: '250px'});
        }); 

        $('#btn').click(function(){

           $.getJSON('{{url_for("general.get_data")}}', {
            txt: $('input[name="inp"]').val(),
           }, function(data) {
           $("#res").text(data.result);
           });
        });

        })
    </script>
{% endblock content %}