{% extends "general/layout.html" %}

{% block content %}

<div class="container carusel">

    <div class="owl-carousel owl-theme">
        {% for i in range(data | length ) %}
        <div class="item card">
            <div class='card-content'>
                <div class ='title'>
                    {{data[i]['title_detail']['value']}}
                </div>
                 <div class="content">
                     {{ data[i]['summary_detail']['value'] | safe}}
                </div> 
               
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .item {
        /*height: 15rem;
        width: 200px; 
       
        padding: 1rem; */
        background: #5ce0b6;
        height: 330px;
        max-width: 400px;
        min-width: 300px;
        overflow-y: auto;
    }

    .carusel {
        max-width: 960px;
        margin-top: 40px;
    }
     .title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.125; 
}
    
</style>

{%endblock%}


{% block scripts %}
<script src="{{ url_for('static', filename='scripts/ini_owl.js') }}"></script>


{% endblock %}