{% extends "general/layout.html" %}

{% block content %}
<div class="container small-form">
    <form action={{url_for('general.savefile')}} enctype="multipart/form-data" method="POST">
        <div class="file has-name">
            <label class="file-label">
                <input class="file-input" type="file" name="datafile" required multiple>
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Выберите файл…
                    </span>
                </span>
            </label>
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <span>Выбранные файлы</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input class="button" type="submit" value="Отправить">
        </div>

        {%for mess in message%}
        <div>
            {{mess}}
        </div>
        {%endfor%}

       
        {{m}}



        <!-- {% if request.args.get('message')%}
        <div class="message is-success">
            {{ request.args.get('message') }}
        </div>
        {% endif %} -->
    </form>
</div>

<style>
    form {
        width: 100%;
        margin: 30px;
    }

    .small-form {
        width: 400px;
    }

    h1 {
        color: red
    }
</style>
{%endblock%}


{%block scripts%}
<script>
    const fileInput = document.querySelector('.file input[type=file]');
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            // fileName = document.querySelector('.file .file-name');
            // fileName.textContent = fileInput.files[0].name;
            const fileNames = document.querySelector('.dropdown-content')

            let farr = Array.from(fileInput.files)
            farr.forEach(fl => {
                console.log(fl, fl.name)

                let div = document.createElement("div")
                div.classList.add("dropdown-item")
                div.append(fl.name)
                fileNames.append(div)
            });
        }
    }
</script>
{%endblock%}