{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<div class="table table-bordered table-hover" style="display:flex">
     {% for s in text %}
     <div >
        <div>
            {{loop.index0}}
        </div>
        <div>
            {{s}}
        </div>
        <div>
            -{{loop.length-loop.index0}}
        </div>
    </div>
{% endfor %}
{% endblock %}