{% extends "layout.html" %}

{% block content %}
<h1>Вход</h1>
<form class="form" action="" method="post" novalidate>
    <div>
        {{ form.hidden_tag() }}

        <p>
            {{ form.email.label }}
            {{form.email()}}

            {% if form.email.errors %}
        <ul class="errors">
            {% for error in form.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class="input",placeholder="Введите имя пользователя")}}

            {% if form.username.errors %}
        <ul class="errors">
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </div>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}